.full-height {
  height: calc(100vh - 98px);
}

.full-height .MuiContainer-root {
  padding: 0 27px;
}

.full-height .title-home {
  font-size: 36px;
  font-weight: 700;
  padding: 17px 0 17px 0;
  display: flex;
  min-height: 64px;
  justify-content: center;
  line-height: 41px;
}

.full-height .MuiTypography-h5 {
  width: 50%;
}

.full-height .subtitle {
  text-align: center;
  min-height: 62px;
  min-width: 140px;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
}

.full-height .descricao {
  min-height: 140px;
  font-size: 12pt;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 13px;
}

.full-height .actions {
  padding: 0px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.full-height .actions .MuiButton-contained {
  width: calc(100vw - 200px);
  font-weight: 700;
}

.full-height .actions .MuiFab-label {
  margin-left: 5px;
}

.full-height .main-image {
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 30px 0 10px;
}